.page{
    height: 100%;
}

.page-body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

.title-text {
    text-align: center;
    padding: 32px 0px;
}


.main-navigation {
    padding : 88px 0px;
    display: inline;
    vertical-align: top;
  }
   
  
  .main-menu {
    display: inline;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .main-menu-item {
    display: inline;
    margin-left: 72px;
  }

  .main-menu-link {

    color: #3d3d3d;
    font-size: 18px;
    line-height: 100%;
    text-decoration: none;
  }

  .banner{
    weight: 1400px;;
    height: 552px;
    background:#00BDC9;
  }

  .banner-img{
    width: 599px;
    height: 368px;
    padding: 92px 400px;
    justify-content: center;
    align-items: center;
  }

  .content-div{
    margin-left: 0;
    padding-left: 0;
    width: 856px;
    display: inline-block;
    padding: 88px 0px;
    margin: 0;
   
  }

  .text-div{
    margin-left: 0;
    display: inline-block;
    align-items: center;
    width: 856px;
    color: #161616;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 31.5px */
  }

  .text-div2{
    padding: 40px 0px;
    display: inline-block;
    color: #161616;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */

  }

  .accent{
    color: #04959E;
  }

  .button-div{
    font-style: normal;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    background: #04959E;
    padding: 10px 24px;
  }

  .footer-text{
    width: 856px;
    padding: 16px 0px;
    justify-content: space-between;  
    display: inline-block;
  }  
    